@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    overflow: hidden;
    background: #ffd39b;
}

@layer utilities {
    .scroll-hide::-webkit-scrollbar {
        display: none;
    }

    .scroll-hide::-webkit-scrollbar-track {
        display: none;
    }

    .scroll-hide::-webkit-scrollbar-thumb {
        display: none;
    }
}
